body {
    background-color: slategray;
    font-family: Times New Roman;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: deepskyblue;
    text-align: center;
    width: 100%;
}

h1:hover {
    color: black;
    text-align: center;
    width: 100%;
}

.assign{
    margin: 10px;
    padding: 10px;
    background-color: deepskyblue;
    display: block;
    border-radius: 20px;
    width: 20%;
    box-shadow: 8px 8px black;
}

.assign img {
    width: 200px;
    margin: 10px;
    border: 3px solid midnightblue;
}

.assign img:hover{
    width: 210px;
    margins: 10px;
    border: 3px solid midnightblue;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: slateblue;
}
