body {
    background-color: slategray;
    font-family: Times New Roman;
}

h1 {
    color: deepskyblue;
    text-align: center;
}

.assign{
    margin: 10px;
    padding: 10px;
    background-color: deepskyblue;
    display: flex;
    border-radius: 20px;
}

.assign img {
    width: 200px;
    margin: 10px;
    border: 2px solid midnightblue;
}

a:hover {
    text-decoration: none;
    color: slategray;
}
